USE [RWD]
GO
/****** Object:  Table [dbo].[PTH_AuditLogs]    Script Date: 22-08-2026 16:00:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PTH_AuditLogs](
	[AuditLogId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[ModuleName] [nvarchar](50) NOT NULL,
	[Action] [nvarchar](50) NOT NULL,
	[TableName] [nvarchar](50) NOT NULL,
	[RecordId] [int] NOT NULL,
	[OldValues] [nvarchar](max) NULL,
	[NewValues] [nvarchar](max) NULL,
	[IPAddress] [nvarchar](50) NULL,
	[UserAgent] [nvarchar](250) NULL,
	[CreatedOn] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_PTH_AuditLogs] PRIMARY KEY CLUSTERED 
(
	[AuditLogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PTH_Departments]    Script Date: 22-08-2026 16:00:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PTH_Departments](
	[DepartmentId] [int] IDENTITY(1,1) NOT NULL,
	[DepartmentCode] [nvarchar](20) NOT NULL,
	[DepartmentName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](250) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedOn] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](100) NOT NULL,
	[UpdatedOn] [datetime2](7) NULL,
	[UpdatedBy] [nvarchar](100) NULL,
	[DeletedFlag] [bit] NOT NULL,
 CONSTRAINT [PK_PTH_Departments] PRIMARY KEY CLUSTERED 
(
	[DepartmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PTH_Doctors]    Script Date: 22-08-2026 16:00:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PTH_Doctors](
	[DoctorId] [int] IDENTITY(1,1) NOT NULL,
	[DoctorCode] [nvarchar](20) NOT NULL,
	[DoctorName] [nvarchar](150) NOT NULL,
	[Qualification] [nvarchar](100) NULL,
	[Specialization] [nvarchar](100) NULL,
	[HospitalClinicName] [nvarchar](200) NULL,
	[Mobile] [nvarchar](15) NOT NULL,
	[Email] [nvarchar](100) NULL,
	[Address] [nvarchar](250) NULL,
	[CommissionType] [nvarchar](20) NOT NULL,
	[CommissionValue] [decimal](18, 2) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedOn] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](100) NOT NULL,
	[UpdatedOn] [datetime2](7) NULL,
	[UpdatedBy] [nvarchar](100) NULL,
	[DeletedFlag] [bit] NOT NULL,
 CONSTRAINT [PK_PTH_Doctors] PRIMARY KEY CLUSTERED 
(
	[DoctorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PTH_HomeCollections]    Script Date: 22-08-2026 16:00:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PTH_HomeCollections](
	[HomeCollectionId] [int] IDENTITY(1,1) NOT NULL,
	[RequestNumber] [nvarchar](30) NOT NULL,
	[PatientId] [int] NOT NULL,
	[OrderId] [int] NULL,
	[Address] [nvarchar](250) NOT NULL,
	[City] [nvarchar](100) NOT NULL,
	[Pincode] [nvarchar](10) NOT NULL,
	[RequestedDate] [datetime2](7) NOT NULL,
	[RequestedTime] [nvarchar](100) NOT NULL,
	[AssignedAgentId] [int] NULL,
	[Status] [nvarchar](20) NOT NULL,
	[CollectionDateTime] [datetime2](7) NULL,
	[Remarks] [nvarchar](250) NULL,
	[CreatedOn] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](100) NOT NULL,
	[UpdatedOn] [datetime2](7) NULL,
	[UpdatedBy] [nvarchar](100) NULL,
	[DeletedFlag] [bit] NOT NULL,
 CONSTRAINT [PK_PTH_HomeCollections] PRIMARY KEY CLUSTERED 
(
	[HomeCollectionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PTH_Invoices]    Script Date: 22-08-2026 16:00:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PTH_Invoices](
	[InvoiceId] [int] IDENTITY(1,1) NOT NULL,
	[InvoiceNumber] [nvarchar](30) NOT NULL,
	[OrderId] [int] NOT NULL,
	[PatientId] [int] NOT NULL,
	[InvoiceDate] [datetime2](7) NOT NULL,
	[GrossAmount] [decimal](18, 2) NOT NULL,
	[DiscountAmount] [decimal](18, 2) NOT NULL,
	[TaxAmount] [decimal](18, 2) NOT NULL,
	[NetAmount] [decimal](18, 2) NOT NULL,
	[PaidAmount] [decimal](18, 2) NOT NULL,
	[DueAmount] [decimal](18, 2) NOT NULL,
	[InvoiceStatus] [nvarchar](20) NOT NULL,
	[CreatedOn] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](100) NOT NULL,
	[UpdatedOn] [datetime2](7) NULL,
	[UpdatedBy] [nvarchar](100) NULL,
	[DeletedFlag] [bit] NOT NULL,
 CONSTRAINT [PK_PTH_Invoices] PRIMARY KEY CLUSTERED 
(
	[InvoiceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PTH_Notifications]    Script Date: 22-08-2026 16:00:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PTH_Notifications](
	[NotificationId] [int] IDENTITY(1,1) NOT NULL,
	[PatientId] [int] NULL,
	[NotificationType] [nvarchar](20) NOT NULL,
	[Recipient] [nvarchar](150) NOT NULL,
	[Subject] [nvarchar](150) NULL,
	[Message] [nvarchar](max) NOT NULL,
	[ReferenceType] [nvarchar](50) NULL,
	[ReferenceId] [int] NULL,
	[Status] [nvarchar](20) NOT NULL,
	[SentOn] [datetime2](7) NULL,
	[FailureReason] [nvarchar](500) NULL,
	[CreatedOn] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](100) NOT NULL,
	[UpdatedOn] [datetime2](7) NULL,
	[UpdatedBy] [nvarchar](100) NULL,
	[DeletedFlag] [bit] NOT NULL,
 CONSTRAINT [PK_PTH_Notifications] PRIMARY KEY CLUSTERED 
(
	[NotificationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PTH_OrderDetails]    Script Date: 22-08-2026 16:00:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PTH_OrderDetails](
	[OrderDetailId] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[TestId] [int] NULL,
	[PackageId] [int] NULL,
	[Quantity] [int] NOT NULL,
	[Rate] [decimal](18, 2) NOT NULL,
	[Discount] [decimal](18, 2) NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[SampleRequired] [bit] NOT NULL,
	[Status] [nvarchar](30) NOT NULL,
	[CreatedOn] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](100) NOT NULL,
	[UpdatedOn] [datetime2](7) NULL,
	[UpdatedBy] [nvarchar](100) NULL,
	[DeletedFlag] [bit] NOT NULL,
 CONSTRAINT [PK_PTH_OrderDetails] PRIMARY KEY CLUSTERED 
(
	[OrderDetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PTH_Orders]    Script Date: 22-08-2026 16:00:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PTH_Orders](
	[OrderId] [int] IDENTITY(1,1) NOT NULL,
	[OrderNumber] [nvarchar](30) NOT NULL,
	[PatientId] [int] NOT NULL,
	[DoctorId] [int] NULL,
	[OrderDate] [datetime2](7) NOT NULL,
	[OrderStatus] [nvarchar](30) NOT NULL,
	[TotalAmount] [decimal](18, 2) NOT NULL,
	[DiscountAmount] [decimal](18, 2) NOT NULL,
	[NetAmount] [decimal](18, 2) NOT NULL,
	[PaidAmount] [decimal](18, 2) NOT NULL,
	[DueAmount] [decimal](18, 2) NOT NULL,
	[PaymentStatus] [nvarchar](20) NOT NULL,
	[Remarks] [nvarchar](500) NULL,
	[CreatedOn] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](100) NOT NULL,
	[UpdatedOn] [datetime2](7) NULL,
	[UpdatedBy] [nvarchar](100) NULL,
	[DeletedFlag] [bit] NOT NULL,
 CONSTRAINT [PK_PTH_Orders] PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PTH_PackageTests]    Script Date: 22-08-2026 16:00:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PTH_PackageTests](
	[PackageTestId] [int] IDENTITY(1,1) NOT NULL,
	[PackageId] [int] NOT NULL,
	[TestId] [int] NOT NULL,
	[CreatedOn] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](100) NOT NULL,
	[UpdatedOn] [datetime2](7) NULL,
	[UpdatedBy] [nvarchar](100) NULL,
	[DeletedFlag] [bit] NOT NULL,
 CONSTRAINT [PK_PTH_PackageTests] PRIMARY KEY CLUSTERED 
(
	[PackageTestId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PTH_Patients]    Script Date: 22-08-2026 16:00:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PTH_Patients](
	[PatientId] [int] IDENTITY(1,1) NOT NULL,
	[PatientCode] [nvarchar](20) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[MiddleName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[Gender] [nvarchar](20) NOT NULL,
	[DateOfBirth] [datetime2](7) NOT NULL,
	[Age] [int] NOT NULL,
	[BloodGroup] [nvarchar](10) NULL,
	[Mobile] [nvarchar](20) NOT NULL,
	[AlternateMobile] [nvarchar](15) NULL,
	[Email] [nvarchar](100) NULL,
	[Address] [nvarchar](250) NULL,
	[City] [nvarchar](50) NULL,
	[State] [nvarchar](50) NULL,
	[Pincode] [nvarchar](10) NULL,
	[EmergencyContactName] [nvarchar](100) NULL,
	[EmergencyContactMobile] [nvarchar](15) NULL,
	[IdentityType] [nvarchar](50) NULL,
	[IdentityNumber] [nvarchar](50) NULL,
	[Remarks] [nvarchar](500) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedOn] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](100) NOT NULL,
	[UpdatedOn] [datetime2](7) NULL,
	[UpdatedBy] [nvarchar](100) NULL,
	[DeletedFlag] [bit] NOT NULL,
 CONSTRAINT [PK_PTH_Patients] PRIMARY KEY CLUSTERED 
(
	[PatientId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PTH_Payments]    Script Date: 22-08-2026 16:00:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PTH_Payments](
	[PaymentId] [int] IDENTITY(1,1) NOT NULL,
	[InvoiceId] [int] NOT NULL,
	[PaymentNumber] [nvarchar](30) NOT NULL,
	[PaymentDate] [datetime2](7) NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[PaymentMode] [nvarchar](50) NOT NULL,
	[TransactionReference] [nvarchar](100) NULL,
	[Remarks] [nvarchar](250) NULL,
	[ReceivedBy] [nvarchar](100) NOT NULL,
	[CreatedOn] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](100) NOT NULL,
	[UpdatedOn] [datetime2](7) NULL,
	[UpdatedBy] [nvarchar](100) NULL,
	[DeletedFlag] [bit] NOT NULL,
 CONSTRAINT [PK_PTH_Payments] PRIMARY KEY CLUSTERED 
(
	[PaymentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PTH_Permissions]    Script Date: 22-08-2026 16:00:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PTH_Permissions](
	[PermissionId] [int] IDENTITY(1,1) NOT NULL,
	[PermissionCode] [nvarchar](50) NOT NULL,
	[PermissionName] [nvarchar](100) NOT NULL,
	[ModuleName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](250) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedOn] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](100) NOT NULL,
	[UpdatedOn] [datetime2](7) NULL,
	[UpdatedBy] [nvarchar](100) NULL,
	[DeletedFlag] [bit] NOT NULL,
 CONSTRAINT [PK_PTH_Permissions] PRIMARY KEY CLUSTERED 
(
	[PermissionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PTH_ReportDetails]    Script Date: 22-08-2026 16:00:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PTH_ReportDetails](
	[ReportDetailId] [int] IDENTITY(1,1) NOT NULL,
	[ReportId] [int] NOT NULL,
	[TestId] [int] NOT NULL,
	[TestName] [nvarchar](150) NOT NULL,
	[DisplayOrder] [int] NOT NULL,
	[Interpretation] [nvarchar](max) NULL,
	[Remarks] [nvarchar](500) NULL,
	[CreatedOn] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](100) NOT NULL,
	[UpdatedOn] [datetime2](7) NULL,
	[UpdatedBy] [nvarchar](100) NULL,
	[DeletedFlag] [bit] NOT NULL,
 CONSTRAINT [PK_PTH_ReportDetails] PRIMARY KEY CLUSTERED 
(
	[ReportDetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PTH_Reports]    Script Date: 22-08-2026 16:00:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PTH_Reports](
	[ReportId] [int] IDENTITY(1,1) NOT NULL,
	[ReportNumber] [nvarchar](30) NOT NULL,
	[OrderId] [int] NOT NULL,
	[PatientId] [int] NOT NULL,
	[ReportStatus] [nvarchar](20) NOT NULL,
	[ReportDate] [datetime2](7) NOT NULL,
	[VerifiedById] [int] NULL,
	[VerifiedOn] [datetime2](7) NULL,
	[PublishedOn] [datetime2](7) NULL,
	[PdfFilePath] [nvarchar](500) NULL,
	[VersionNumber] [int] NOT NULL,
	[Remarks] [nvarchar](500) NULL,
	[CreatedOn] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](100) NOT NULL,
	[UpdatedOn] [datetime2](7) NULL,
	[UpdatedBy] [nvarchar](100) NULL,
	[DeletedFlag] [bit] NOT NULL,
 CONSTRAINT [PK_PTH_Reports] PRIMARY KEY CLUSTERED 
(
	[ReportId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PTH_RolePermissions]    Script Date: 22-08-2026 16:00:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PTH_RolePermissions](
	[RolePermissionId] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [int] NOT NULL,
	[PermissionId] [int] NOT NULL,
	[CreatedOn] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](100) NOT NULL,
	[UpdatedOn] [datetime2](7) NULL,
	[UpdatedBy] [nvarchar](100) NULL,
	[DeletedFlag] [bit] NOT NULL,
 CONSTRAINT [PK_PTH_RolePermissions] PRIMARY KEY CLUSTERED 
(
	[RolePermissionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PTH_Roles]    Script Date: 22-08-2026 16:00:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PTH_Roles](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](250) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedOn] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](100) NOT NULL,
	[UpdatedOn] [datetime2](7) NULL,
	[UpdatedBy] [nvarchar](100) NULL,
	[DeletedFlag] [bit] NOT NULL,
 CONSTRAINT [PK_PTH_Roles] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PTH_Samples]    Script Date: 22-08-2026 16:00:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PTH_Samples](
	[SampleId] [int] IDENTITY(1,1) NOT NULL,
	[SampleNumber] [nvarchar](30) NOT NULL,
	[OrderId] [int] NOT NULL,
	[PatientId] [int] NOT NULL,
	[SampleTypeId] [int] NOT NULL,
	[Barcode] [nvarchar](50) NOT NULL,
	[CollectionDateTime] [datetime2](7) NULL,
	[CollectedById] [int] NULL,
	[ReceivedDateTime] [datetime2](7) NULL,
	[ReceivedById] [int] NULL,
	[SampleStatus] [nvarchar](20) NOT NULL,
	[RejectionReason] [nvarchar](250) NULL,
	[Remarks] [nvarchar](250) NULL,
	[CreatedOn] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](100) NOT NULL,
	[UpdatedOn] [datetime2](7) NULL,
	[UpdatedBy] [nvarchar](100) NULL,
	[DeletedFlag] [bit] NOT NULL,
 CONSTRAINT [PK_PTH_Samples] PRIMARY KEY CLUSTERED 
(
	[SampleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PTH_SampleTests]    Script Date: 22-08-2026 16:00:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PTH_SampleTests](
	[SampleTestId] [int] IDENTITY(1,1) NOT NULL,
	[SampleId] [int] NOT NULL,
	[OrderDetailId] [int] NOT NULL,
	[TestId] [int] NOT NULL,
	[Status] [nvarchar](30) NOT NULL,
	[AssignedToId] [int] NULL,
	[StartedOn] [datetime2](7) NULL,
	[CompletedOn] [datetime2](7) NULL,
	[CreatedOn] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](100) NOT NULL,
	[UpdatedOn] [datetime2](7) NULL,
	[UpdatedBy] [nvarchar](100) NULL,
	[DeletedFlag] [bit] NOT NULL,
 CONSTRAINT [PK_PTH_SampleTests] PRIMARY KEY CLUSTERED 
(
	[SampleTestId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PTH_SampleTypes]    Script Date: 22-08-2026 16:00:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PTH_SampleTypes](
	[SampleTypeId] [int] IDENTITY(1,1) NOT NULL,
	[SampleTypeCode] [nvarchar](20) NOT NULL,
	[SampleTypeName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](250) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedOn] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](100) NOT NULL,
	[UpdatedOn] [datetime2](7) NULL,
	[UpdatedBy] [nvarchar](100) NULL,
	[DeletedFlag] [bit] NOT NULL,
 CONSTRAINT [PK_PTH_SampleTypes] PRIMARY KEY CLUSTERED 
(
	[SampleTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PTH_TestPackages]    Script Date: 22-08-2026 16:00:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PTH_TestPackages](
	[PackageId] [int] IDENTITY(1,1) NOT NULL,
	[PackageCode] [nvarchar](30) NOT NULL,
	[PackageName] [nvarchar](150) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[OriginalPrice] [decimal](18, 2) NOT NULL,
	[PackagePrice] [decimal](18, 2) NOT NULL,
	[DiscountAmount] [decimal](18, 2) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedOn] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](100) NOT NULL,
	[UpdatedOn] [datetime2](7) NULL,
	[UpdatedBy] [nvarchar](100) NULL,
	[DeletedFlag] [bit] NOT NULL,
 CONSTRAINT [PK_PTH_TestPackages] PRIMARY KEY CLUSTERED 
(
	[PackageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PTH_TestParameters]    Script Date: 22-08-2026 16:00:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PTH_TestParameters](
	[TestParameterId] [int] IDENTITY(1,1) NOT NULL,
	[TestId] [int] NOT NULL,
	[ParameterCode] [nvarchar](50) NOT NULL,
	[ParameterName] [nvarchar](150) NOT NULL,
	[DisplayOrder] [int] NOT NULL,
	[ResultType] [nvarchar](50) NOT NULL,
	[Unit] [nvarchar](50) NULL,
	[MaleMin] [decimal](18, 4) NULL,
	[MaleMax] [decimal](18, 4) NULL,
	[FemaleMin] [decimal](18, 4) NULL,
	[FemaleMax] [decimal](18, 4) NULL,
	[ChildMin] [decimal](18, 4) NULL,
	[ChildMax] [decimal](18, 4) NULL,
	[CriticalLow] [decimal](18, 4) NULL,
	[CriticalHigh] [decimal](18, 4) NULL,
	[DefaultReferenceRange] [nvarchar](250) NULL,
	[CreatedOn] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](100) NOT NULL,
	[UpdatedOn] [datetime2](7) NULL,
	[UpdatedBy] [nvarchar](100) NULL,
	[DeletedFlag] [bit] NOT NULL,
 CONSTRAINT [PK_PTH_TestParameters] PRIMARY KEY CLUSTERED 
(
	[TestParameterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PTH_TestResultHistory]    Script Date: 22-08-2026 16:00:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PTH_TestResultHistory](
	[HistoryId] [int] IDENTITY(1,1) NOT NULL,
	[TestResultId] [int] NOT NULL,
	[OldValue] [nvarchar](200) NULL,
	[NewValue] [nvarchar](200) NULL,
	[OldStatus] [nvarchar](20) NULL,
	[NewStatus] [nvarchar](20) NULL,
	[Reason] [nvarchar](250) NOT NULL,
	[ChangedById] [int] NOT NULL,
	[ChangedOn] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_PTH_TestResultHistory] PRIMARY KEY CLUSTERED 
(
	[HistoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PTH_TestResults]    Script Date: 22-08-2026 16:00:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PTH_TestResults](
	[TestResultId] [int] IDENTITY(1,1) NOT NULL,
	[SampleTestId] [int] NOT NULL,
	[TestParameterId] [int] NOT NULL,
	[ResultValue] [nvarchar](200) NULL,
	[ResultNumericValue] [decimal](18, 4) NULL,
	[ResultStatus] [nvarchar](20) NOT NULL,
	[ReferenceRange] [nvarchar](200) NULL,
	[Unit] [nvarchar](50) NULL,
	[Remarks] [nvarchar](500) NULL,
	[EnteredById] [int] NULL,
	[EnteredOn] [datetime2](7) NULL,
	[VerifiedById] [int] NULL,
	[VerifiedOn] [datetime2](7) NULL,
	[RowVersion] [timestamp] NOT NULL,
	[CreatedOn] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](100) NOT NULL,
	[UpdatedOn] [datetime2](7) NULL,
	[UpdatedBy] [nvarchar](100) NULL,
	[DeletedFlag] [bit] NOT NULL,
 CONSTRAINT [PK_PTH_TestResults] PRIMARY KEY CLUSTERED 
(
	[TestResultId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PTH_Tests]    Script Date: 22-08-2026 16:00:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PTH_Tests](
	[TestId] [int] IDENTITY(1,1) NOT NULL,
	[TestCode] [nvarchar](20) NOT NULL,
	[TestName] [nvarchar](150) NOT NULL,
	[DepartmentId] [int] NOT NULL,
	[SampleTypeId] [int] NOT NULL,
	[TestType] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[TATMinutes] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedOn] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](100) NOT NULL,
	[UpdatedOn] [datetime2](7) NULL,
	[UpdatedBy] [nvarchar](100) NULL,
	[DeletedFlag] [bit] NOT NULL,
 CONSTRAINT [PK_PTH_Tests] PRIMARY KEY CLUSTERED 
(
	[TestId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PTH_Users]    Script Date: 22-08-2026 16:00:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PTH_Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[PasswordHash] [nvarchar](256) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Mobile] [nvarchar](15) NOT NULL,
	[RoleId] [int] NOT NULL,
	[LastLoginDate] [datetime2](7) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedOn] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](100) NOT NULL,
	[UpdatedOn] [datetime2](7) NULL,
	[UpdatedBy] [nvarchar](100) NULL,
	[DeletedFlag] [bit] NOT NULL,
 CONSTRAINT [PK_PTH_Users] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[PTH_AuditLogs] ON 

INSERT [dbo].[PTH_AuditLogs] ([AuditLogId], [UserId], [ModuleName], [Action], [TableName], [RecordId], [OldValues], [NewValues], [IPAddress], [UserAgent], [CreatedOn]) VALUES (1, 2, N'Orders', N'INSERT', N'PTH_Orders', 1, NULL, N'{"OrderId":1,"TotalAmount":500.00,"PaymentStatus":"Paid"}', N'::1', N'Mozilla/5.0', CAST(N'2026-08-20T08:30:00.0000000' AS DateTime2))
INSERT [dbo].[PTH_AuditLogs] ([AuditLogId], [UserId], [ModuleName], [Action], [TableName], [RecordId], [OldValues], [NewValues], [IPAddress], [UserAgent], [CreatedOn]) VALUES (2, 3, N'Laboratory', N'INSERT', N'PTH_TestResults', 1, NULL, N'{"SampleId":1,"Parameter":"HB","Value":"14.5"}', N'::1', N'Mozilla/5.0', CAST(N'2026-08-20T10:30:00.0000000' AS DateTime2))
INSERT [dbo].[PTH_AuditLogs] ([AuditLogId], [UserId], [ModuleName], [Action], [TableName], [RecordId], [OldValues], [NewValues], [IPAddress], [UserAgent], [CreatedOn]) VALUES (3, 4, N'Pathology', N'UPDATE', N'PTH_Reports', 1, NULL, N'{"ReportId":1,"ReportStatus":"Published","VerifiedBy":4}', N'::1', N'Mozilla/5.0', CAST(N'2026-08-20T11:35:00.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[PTH_AuditLogs] OFF
GO
SET IDENTITY_INSERT [dbo].[PTH_Departments] ON 

INSERT [dbo].[PTH_Departments] ([DepartmentId], [DepartmentCode], [DepartmentName], [Description], [IsActive], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy], [DeletedFlag]) VALUES (1, N'HEM', N'Hematology', N'Blood cell assays', 1, CAST(N'2026-08-22T10:02:41.2166667' AS DateTime2), N'System', NULL, NULL, 0)
INSERT [dbo].[PTH_Departments] ([DepartmentId], [DepartmentCode], [DepartmentName], [Description], [IsActive], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy], [DeletedFlag]) VALUES (2, N'BIO', N'Biochemistry', N'Serology and metabolic assays', 1, CAST(N'2026-08-22T10:02:41.2166667' AS DateTime2), N'System', NULL, NULL, 0)
INSERT [dbo].[PTH_Departments] ([DepartmentId], [DepartmentCode], [DepartmentName], [Description], [IsActive], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy], [DeletedFlag]) VALUES (3, N'CLP', N'Clinical Pathology', N'Fluids and Urine Routine analysis', 1, CAST(N'2026-08-22T10:02:41.2166667' AS DateTime2), N'System', NULL, NULL, 0)
SET IDENTITY_INSERT [dbo].[PTH_Departments] OFF
GO
SET IDENTITY_INSERT [dbo].[PTH_Doctors] ON 

INSERT [dbo].[PTH_Doctors] ([DoctorId], [DoctorCode], [DoctorName], [Qualification], [Specialization], [HospitalClinicName], [Mobile], [Email], [Address], [CommissionType], [CommissionValue], [IsActive], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy], [DeletedFlag]) VALUES (1, N'DOC-000001', N'Dr. Rajesh Nair', N'MBBS, MD', N'General Medicine', N'Apex Multispeciality Care', N'9988776601', N'dr.rajesh@apexcare.com', N'Apex Arcade, Suite 10', N'Percentage', CAST(10.00 AS Decimal(18, 2)), 1, CAST(N'2026-08-22T10:02:41.2966667' AS DateTime2), N'System', NULL, NULL, 0)
INSERT [dbo].[PTH_Doctors] ([DoctorId], [DoctorCode], [DoctorName], [Qualification], [Specialization], [HospitalClinicName], [Mobile], [Email], [Address], [CommissionType], [CommissionValue], [IsActive], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy], [DeletedFlag]) VALUES (2, N'DOC-000002', N'Dr. Priya Desai', N'MBBS, DNB', N'Gynecology', N'Desai Womens Clinic', N'9988776602', N'dr.desai@clinic.com', N'Desai Chambers, Suite 2', N'Percentage', CAST(10.00 AS Decimal(18, 2)), 1, CAST(N'2026-08-22T10:02:41.2966667' AS DateTime2), N'System', NULL, NULL, 0)
SET IDENTITY_INSERT [dbo].[PTH_Doctors] OFF
GO
SET IDENTITY_INSERT [dbo].[PTH_HomeCollections] ON 

INSERT [dbo].[PTH_HomeCollections] ([HomeCollectionId], [RequestNumber], [PatientId], [OrderId], [Address], [City], [Pincode], [RequestedDate], [RequestedTime], [AssignedAgentId], [Status], [CollectionDateTime], [Remarks], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy], [DeletedFlag]) VALUES (1, N'HC-2026-000001', 3, 3, N'Flat 303, Tulip Residency, Sector 20', N'Navi Mumbai', N'400703', CAST(N'2026-08-23T00:00:00.0000000' AS DateTime2), N'06:00 AM - 08:00 AM', 6, N'OnTheWay', NULL, N'Assigned agent Amit Verma', CAST(N'2026-08-22T08:05:00.0000000' AS DateTime2), N'reception', NULL, NULL, 0)
SET IDENTITY_INSERT [dbo].[PTH_HomeCollections] OFF
GO
SET IDENTITY_INSERT [dbo].[PTH_Invoices] ON 

SET IDENTITY_INSERT [dbo].[PTH_Invoices] OFF
GO
SET IDENTITY_INSERT [dbo].[PTH_OrderDetails] ON 

INSERT [dbo].[PTH_OrderDetails] ([OrderDetailId], [OrderId], [TestId], [PackageId], [Quantity], [Rate], [Discount], [Amount], [SampleRequired], [Status], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy], [DeletedFlag]) VALUES (1, 1, 1, NULL, 1, CAST(350.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(350.00 AS Decimal(18, 2)), 1, N'Completed', CAST(N'2026-08-22T10:02:41.3200000' AS DateTime2), N'System', NULL, NULL, 0)
INSERT [dbo].[PTH_OrderDetails] ([OrderDetailId], [OrderId], [TestId], [PackageId], [Quantity], [Rate], [Discount], [Amount], [SampleRequired], [Status], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy], [DeletedFlag]) VALUES (2, 1, 2, NULL, 1, CAST(150.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(150.00 AS Decimal(18, 2)), 1, N'Completed', CAST(N'2026-08-22T10:02:41.3200000' AS DateTime2), N'System', NULL, NULL, 0)
INSERT [dbo].[PTH_OrderDetails] ([OrderDetailId], [OrderId], [TestId], [PackageId], [Quantity], [Rate], [Discount], [Amount], [SampleRequired], [Status], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy], [DeletedFlag]) VALUES (3, 2, 1, NULL, 1, CAST(350.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(350.00 AS Decimal(18, 2)), 1, N'Completed', CAST(N'2026-08-22T10:02:41.3700000' AS DateTime2), N'System', NULL, NULL, 0)
SET IDENTITY_INSERT [dbo].[PTH_OrderDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[PTH_Orders] ON 

SET IDENTITY_INSERT [dbo].[PTH_Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[PTH_PackageTests] ON 

INSERT [dbo].[PTH_PackageTests] ([PackageTestId], [PackageId], [TestId], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy], [DeletedFlag]) VALUES (1, 1, 1, CAST(N'2026-08-22T10:02:41.2800000' AS DateTime2), N'System', NULL, NULL, 0)
INSERT [dbo].[PTH_PackageTests] ([PackageTestId], [PackageId], [TestId], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy], [DeletedFlag]) VALUES (2, 1, 2, CAST(N'2026-08-22T10:02:41.2800000' AS DateTime2), N'System', NULL, NULL, 0)
INSERT [dbo].[PTH_PackageTests] ([PackageTestId], [PackageId], [TestId], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy], [DeletedFlag]) VALUES (3, 1, 3, CAST(N'2026-08-22T10:02:41.2800000' AS DateTime2), N'System', NULL, NULL, 0)
SET IDENTITY_INSERT [dbo].[PTH_PackageTests] OFF
GO
SET IDENTITY_INSERT [dbo].[PTH_Patients] ON 

SET IDENTITY_INSERT [dbo].[PTH_Patients] OFF
GO
SET IDENTITY_INSERT [dbo].[PTH_Payments] ON 

INSERT [dbo].[PTH_Payments] ([PaymentId], [InvoiceId], [PaymentNumber], [PaymentDate], [Amount], [PaymentMode], [TransactionReference], [Remarks], [ReceivedBy], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy], [DeletedFlag]) VALUES (1, 1, N'PAY-2026-000001', CAST(N'2026-08-20T08:35:00.0000000' AS DateTime2), CAST(500.00 AS Decimal(18, 2)), N'UPI', N'TXN9812345', NULL, N'reception', CAST(N'2026-08-20T08:35:00.0000000' AS DateTime2), N'reception', NULL, NULL, 0)
INSERT [dbo].[PTH_Payments] ([PaymentId], [InvoiceId], [PaymentNumber], [PaymentDate], [Amount], [PaymentMode], [TransactionReference], [Remarks], [ReceivedBy], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy], [DeletedFlag]) VALUES (2, 2, N'PAY-2026-000002', CAST(N'2026-08-21T09:20:00.0000000' AS DateTime2), CAST(350.00 AS Decimal(18, 2)), N'Card', N'TXN5432198', NULL, N'reception', CAST(N'2026-08-21T09:20:00.0000000' AS DateTime2), N'reception', NULL, NULL, 0)
INSERT [dbo].[PTH_Payments] ([PaymentId], [InvoiceId], [PaymentNumber], [PaymentDate], [Amount], [PaymentMode], [TransactionReference], [Remarks], [ReceivedBy], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy], [DeletedFlag]) VALUES (3, 3, N'PAY-2026-000003', CAST(N'2026-08-22T08:05:00.0000000' AS DateTime2), CAST(100.00 AS Decimal(18, 2)), N'Cash', NULL, NULL, N'reception', CAST(N'2026-08-22T08:05:00.0000000' AS DateTime2), N'reception', NULL, NULL, 0)
SET IDENTITY_INSERT [dbo].[PTH_Payments] OFF
GO
SET IDENTITY_INSERT [dbo].[PTH_Permissions] ON 

INSERT [dbo].[PTH_Permissions] ([PermissionId], [PermissionCode], [PermissionName], [ModuleName], [Description], [IsActive], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy], [DeletedFlag]) VALUES (1, N'PATIENTS_VIEW', N'View Patients', N'Patient Management', N'View patient directories', 1, CAST(N'2026-08-22T10:02:41.1633333' AS DateTime2), N'System', NULL, NULL, 0)
INSERT [dbo].[PTH_Permissions] ([PermissionId], [PermissionCode], [PermissionName], [ModuleName], [Description], [IsActive], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy], [DeletedFlag]) VALUES (2, N'PATIENTS_CREATE', N'Create Patient', N'Patient Management', N'Register new profile', 1, CAST(N'2026-08-22T10:02:41.1633333' AS DateTime2), N'System', NULL, NULL, 0)
INSERT [dbo].[PTH_Permissions] ([PermissionId], [PermissionCode], [PermissionName], [ModuleName], [Description], [IsActive], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy], [DeletedFlag]) VALUES (3, N'PATIENTS_EDIT', N'Edit Patient', N'Patient Management', N'Edit profile items', 1, CAST(N'2026-08-22T10:02:41.1633333' AS DateTime2), N'System', NULL, NULL, 0)
SET IDENTITY_INSERT [dbo].[PTH_Permissions] OFF
GO
SET IDENTITY_INSERT [dbo].[PTH_ReportDetails] ON 

INSERT [dbo].[PTH_ReportDetails] ([ReportDetailId], [ReportId], [TestId], [TestName], [DisplayOrder], [Interpretation], [Remarks], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy], [DeletedFlag]) VALUES (1, 1, 1, N'Complete Blood Count', 0, N'Blood parameters are well within normal reference ranges.', NULL, CAST(N'2026-08-20T11:30:00.0000000' AS DateTime2), N'pathologist', NULL, NULL, 0)
INSERT [dbo].[PTH_ReportDetails] ([ReportDetailId], [ReportId], [TestId], [TestName], [DisplayOrder], [Interpretation], [Remarks], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy], [DeletedFlag]) VALUES (2, 1, 2, N'Blood Sugar Fasting', 0, N'Glucose index indicates normal fasting metabolic state.', NULL, CAST(N'2026-08-20T11:30:00.0000000' AS DateTime2), N'pathologist', NULL, NULL, 0)
INSERT [dbo].[PTH_ReportDetails] ([ReportDetailId], [ReportId], [TestId], [TestName], [DisplayOrder], [Interpretation], [Remarks], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy], [DeletedFlag]) VALUES (3, 3, 2, N'Blood Sugar Fasting', 0, N'CRITICAL ALERT: Severely elevated fasting blood sugar levels observed. Clinical correlation and immediate physician consultation advised.', NULL, CAST(N'2026-08-19T10:30:00.0000000' AS DateTime2), N'pathologist', NULL, NULL, 0)
SET IDENTITY_INSERT [dbo].[PTH_ReportDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[PTH_Reports] ON 

INSERT [dbo].[PTH_Reports] ([ReportId], [ReportNumber], [OrderId], [PatientId], [ReportStatus], [ReportDate], [VerifiedById], [VerifiedOn], [PublishedOn], [PdfFilePath], [VersionNumber], [Remarks], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy], [DeletedFlag]) VALUES (2, N'REP-2026-000002', 2, 2, N'UnderReview', CAST(N'2026-08-21T11:05:00.0000000' AS DateTime2), NULL, NULL, NULL, NULL, 1, N'Needs validation check', CAST(N'2026-08-21T11:05:00.0000000' AS DateTime2), N'technician', NULL, NULL, 0)
SET IDENTITY_INSERT [dbo].[PTH_Reports] OFF
GO
SET IDENTITY_INSERT [dbo].[PTH_RolePermissions] ON 

INSERT [dbo].[PTH_RolePermissions] ([RolePermissionId], [RoleId], [PermissionId], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy], [DeletedFlag]) VALUES (1, 1, 1, CAST(N'2026-08-22T10:02:41.1766667' AS DateTime2), N'System', NULL, NULL, 0)
INSERT [dbo].[PTH_RolePermissions] ([RolePermissionId], [RoleId], [PermissionId], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy], [DeletedFlag]) VALUES (2, 1, 2, CAST(N'2026-08-22T10:02:41.1766667' AS DateTime2), N'System', NULL, NULL, 0)
INSERT [dbo].[PTH_RolePermissions] ([RolePermissionId], [RoleId], [PermissionId], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy], [DeletedFlag]) VALUES (3, 1, 3, CAST(N'2026-08-22T10:02:41.1766667' AS DateTime2), N'System', NULL, NULL, 0)
SET IDENTITY_INSERT [dbo].[PTH_RolePermissions] OFF
GO
SET IDENTITY_INSERT [dbo].[PTH_Roles] ON 

INSERT [dbo].[PTH_Roles] ([RoleId], [RoleName], [Description], [IsActive], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy], [DeletedFlag]) VALUES (1, N'Super Admin', N'Full control and settings audit access', 1, CAST(N'2026-08-22T10:02:41.1533333' AS DateTime2), N'System', NULL, NULL, 0)
INSERT [dbo].[PTH_Roles] ([RoleId], [RoleName], [Description], [IsActive], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy], [DeletedFlag]) VALUES (2, N'Lab Admin', N'Test parameters settings configuration access', 1, CAST(N'2026-08-22T10:02:41.1533333' AS DateTime2), N'System', NULL, NULL, 0)
INSERT [dbo].[PTH_Roles] ([RoleId], [RoleName], [Description], [IsActive], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy], [DeletedFlag]) VALUES (3, N'Receptionist', N'Patients intake billing and cash counters', 1, CAST(N'2026-08-22T10:02:41.1533333' AS DateTime2), N'System', NULL, NULL, 0)
SET IDENTITY_INSERT [dbo].[PTH_Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[PTH_Samples] ON 

INSERT [dbo].[PTH_Samples] ([SampleId], [SampleNumber], [OrderId], [PatientId], [SampleTypeId], [Barcode], [CollectionDateTime], [CollectedById], [ReceivedDateTime], [ReceivedById], [SampleStatus], [RejectionReason], [Remarks], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy], [DeletedFlag]) VALUES (1, N'SMP-2026-000001', 1, 1, 1, N'BAR-2026-000001', CAST(N'2026-08-20T09:00:00.0000000' AS DateTime2), 3, CAST(N'2026-08-20T09:30:00.0000000' AS DateTime2), 3, N'Received', NULL, N'Vial received cold', CAST(N'2026-08-20T08:30:00.0000000' AS DateTime2), N'reception', NULL, NULL, 0)
INSERT [dbo].[PTH_Samples] ([SampleId], [SampleNumber], [OrderId], [PatientId], [SampleTypeId], [Barcode], [CollectionDateTime], [CollectedById], [ReceivedDateTime], [ReceivedById], [SampleStatus], [RejectionReason], [Remarks], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy], [DeletedFlag]) VALUES (2, N'SMP-2026-000002', 2, 2, 1, N'BAR-2026-000002', CAST(N'2026-08-21T09:30:00.0000000' AS DateTime2), 3, CAST(N'2026-08-21T10:00:00.0000000' AS DateTime2), 3, N'Received', NULL, NULL, CAST(N'2026-08-21T09:15:00.0000000' AS DateTime2), N'reception', NULL, NULL, 0)
INSERT [dbo].[PTH_Samples] ([SampleId], [SampleNumber], [OrderId], [PatientId], [SampleTypeId], [Barcode], [CollectionDateTime], [CollectedById], [ReceivedDateTime], [ReceivedById], [SampleStatus], [RejectionReason], [Remarks], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy], [DeletedFlag]) VALUES (3, N'SMP-2026-000003', 3, 3, 2, N'BAR-PENDING-03', NULL, NULL, NULL, NULL, N'Pending', NULL, NULL, CAST(N'2026-08-22T08:00:00.0000000' AS DateTime2), N'reception', NULL, NULL, 0)
SET IDENTITY_INSERT [dbo].[PTH_Samples] OFF
GO
SET IDENTITY_INSERT [dbo].[PTH_SampleTests] ON 

INSERT [dbo].[PTH_SampleTests] ([SampleTestId], [SampleId], [OrderDetailId], [TestId], [Status], [AssignedToId], [StartedOn], [CompletedOn], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy], [DeletedFlag]) VALUES (1, 1, 1, 1, N'Completed', 3, CAST(N'2026-08-20T09:30:00.0000000' AS DateTime2), CAST(N'2026-08-20T10:30:00.0000000' AS DateTime2), CAST(N'2026-08-22T10:02:41.3333333' AS DateTime2), N'System', NULL, NULL, 0)
INSERT [dbo].[PTH_SampleTests] ([SampleTestId], [SampleId], [OrderDetailId], [TestId], [Status], [AssignedToId], [StartedOn], [CompletedOn], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy], [DeletedFlag]) VALUES (2, 1, 2, 2, N'Completed', 3, CAST(N'2026-08-20T09:30:00.0000000' AS DateTime2), CAST(N'2026-08-20T10:30:00.0000000' AS DateTime2), CAST(N'2026-08-22T10:02:41.3333333' AS DateTime2), N'System', NULL, NULL, 0)
INSERT [dbo].[PTH_SampleTests] ([SampleTestId], [SampleId], [OrderDetailId], [TestId], [Status], [AssignedToId], [StartedOn], [CompletedOn], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy], [DeletedFlag]) VALUES (3, 2, 3, 1, N'Completed', 3, CAST(N'2026-08-21T10:00:00.0000000' AS DateTime2), CAST(N'2026-08-21T11:00:00.0000000' AS DateTime2), CAST(N'2026-08-22T10:02:41.3766667' AS DateTime2), N'System', NULL, NULL, 0)
SET IDENTITY_INSERT [dbo].[PTH_SampleTests] OFF
GO
SET IDENTITY_INSERT [dbo].[PTH_SampleTypes] ON 

INSERT [dbo].[PTH_SampleTypes] ([SampleTypeId], [SampleTypeCode], [SampleTypeName], [Description], [IsActive], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy], [DeletedFlag]) VALUES (1, N'BLD', N'Whole Blood', N'EDTA Vials (Purple-top)', 1, CAST(N'2026-08-22T10:02:41.2200000' AS DateTime2), N'System', NULL, NULL, 0)
INSERT [dbo].[PTH_SampleTypes] ([SampleTypeId], [SampleTypeCode], [SampleTypeName], [Description], [IsActive], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy], [DeletedFlag]) VALUES (2, N'URN', N'Urine Specimen', N'Sterile Urine Container', 1, CAST(N'2026-08-22T10:02:41.2200000' AS DateTime2), N'System', NULL, NULL, 0)
INSERT [dbo].[PTH_SampleTypes] ([SampleTypeId], [SampleTypeCode], [SampleTypeName], [Description], [IsActive], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy], [DeletedFlag]) VALUES (3, N'SER', N'Serum', N'Clot Activator Vials (Red-top)', 1, CAST(N'2026-08-22T10:02:41.2200000' AS DateTime2), N'System', NULL, NULL, 0)
SET IDENTITY_INSERT [dbo].[PTH_SampleTypes] OFF
GO
SET IDENTITY_INSERT [dbo].[PTH_TestPackages] ON 

INSERT [dbo].[PTH_TestPackages] ([PackageId], [PackageCode], [PackageName], [Description], [OriginalPrice], [PackagePrice], [DiscountAmount], [IsActive], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy], [DeletedFlag]) VALUES (1, N'WEL-CHK', N'General Wellness Package', N'Includes CBC, FBS, and LFT profiles at bundled savings.', CAST(1250.00 AS Decimal(18, 2)), CAST(999.00 AS Decimal(18, 2)), CAST(251.00 AS Decimal(18, 2)), 1, CAST(N'2026-08-22T10:02:41.2700000' AS DateTime2), N'System', NULL, NULL, 0)
SET IDENTITY_INSERT [dbo].[PTH_TestPackages] OFF
GO
SET IDENTITY_INSERT [dbo].[PTH_TestParameters] ON 

SET IDENTITY_INSERT [dbo].[PTH_TestParameters] OFF
GO
SET IDENTITY_INSERT [dbo].[PTH_TestResults] ON 

INSERT [dbo].[PTH_TestResults] ([TestResultId], [SampleTestId], [TestParameterId], [ResultValue], [ResultNumericValue], [ResultStatus], [ReferenceRange], [Unit], [Remarks], [EnteredById], [EnteredOn], [VerifiedById], [VerifiedOn], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy], [DeletedFlag]) VALUES (1, 1, 1, N'14.5', CAST(14.5000 AS Decimal(18, 4)), N'Normal', N'13.0 - 17.0', N'g/dL', NULL, 3, CAST(N'2026-08-20T10:30:00.0000000' AS DateTime2), 4, CAST(N'2026-08-20T11:30:00.0000000' AS DateTime2), CAST(N'2026-08-22T10:02:41.3466667' AS DateTime2), N'System', NULL, NULL, 0)
INSERT [dbo].[PTH_TestResults] ([TestResultId], [SampleTestId], [TestParameterId], [ResultValue], [ResultNumericValue], [ResultStatus], [ReferenceRange], [Unit], [Remarks], [EnteredById], [EnteredOn], [VerifiedById], [VerifiedOn], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy], [DeletedFlag]) VALUES (2, 1, 2, N'5.5', CAST(5.5000 AS Decimal(18, 4)), N'Normal', N'4.0 - 11.0', N'/µL', NULL, 3, CAST(N'2026-08-20T10:30:00.0000000' AS DateTime2), 4, CAST(N'2026-08-20T11:30:00.0000000' AS DateTime2), CAST(N'2026-08-22T10:02:41.3466667' AS DateTime2), N'System', NULL, NULL, 0)
INSERT [dbo].[PTH_TestResults] ([TestResultId], [SampleTestId], [TestParameterId], [ResultValue], [ResultNumericValue], [ResultStatus], [ReferenceRange], [Unit], [Remarks], [EnteredById], [EnteredOn], [VerifiedById], [VerifiedOn], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy], [DeletedFlag]) VALUES (3, 1, 3, N'2.8', CAST(2.8000 AS Decimal(18, 4)), N'Normal', N'1.5 - 4.5', N'lakh/µL', NULL, 3, CAST(N'2026-08-20T10:30:00.0000000' AS DateTime2), 4, CAST(N'2026-08-20T11:30:00.0000000' AS DateTime2), CAST(N'2026-08-22T10:02:41.3466667' AS DateTime2), N'System', NULL, NULL, 0)
SET IDENTITY_INSERT [dbo].[PTH_TestResults] OFF
GO
SET IDENTITY_INSERT [dbo].[PTH_Tests] ON 

INSERT [dbo].[PTH_Tests] ([TestId], [TestCode], [TestName], [DepartmentId], [SampleTypeId], [TestType], [Description], [Price], [TATMinutes], [IsActive], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy], [DeletedFlag]) VALUES (1, N'CBC', N'Complete Blood Count', 1, 1, N'Profile', NULL, CAST(350.00 AS Decimal(18, 2)), 120, 1, CAST(N'2026-08-22T10:02:41.2333333' AS DateTime2), N'System', NULL, NULL, 0)
INSERT [dbo].[PTH_Tests] ([TestId], [TestCode], [TestName], [DepartmentId], [SampleTypeId], [TestType], [Description], [Price], [TATMinutes], [IsActive], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy], [DeletedFlag]) VALUES (2, N'FBS', N'Blood Sugar Fasting', 2, 1, N'Single', NULL, CAST(150.00 AS Decimal(18, 2)), 60, 1, CAST(N'2026-08-22T10:02:41.2333333' AS DateTime2), N'System', NULL, NULL, 0)
INSERT [dbo].[PTH_Tests] ([TestId], [TestCode], [TestName], [DepartmentId], [SampleTypeId], [TestType], [Description], [Price], [TATMinutes], [IsActive], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy], [DeletedFlag]) VALUES (3, N'LFT', N'Liver Function Test', 2, 3, N'Profile', NULL, CAST(750.00 AS Decimal(18, 2)), 180, 1, CAST(N'2026-08-22T10:02:41.2333333' AS DateTime2), N'System', NULL, NULL, 0)
SET IDENTITY_INSERT [dbo].[PTH_Tests] OFF
GO
SET IDENTITY_INSERT [dbo].[PTH_Users] ON 

INSERT [dbo].[PTH_Users] ([UserId], [Username], [PasswordHash], [FullName], [Email], [Mobile], [RoleId], [LastLoginDate], [IsActive], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy], [DeletedFlag]) VALUES (1, N'admin', N'e86f78a8a3caf0b60d8e74e5942aa6d86dc150cd3c03338aef25b7d2d7e3acc7', N'System Admin', N'admin@patholab.com', N'9876543210', 1, CAST(N'2026-08-22T10:13:15.2976728' AS DateTime2), 1, CAST(N'2026-08-22T10:02:41.2100000' AS DateTime2), N'System', NULL, NULL, 0)
INSERT [dbo].[PTH_Users] ([UserId], [Username], [PasswordHash], [FullName], [Email], [Mobile], [RoleId], [LastLoginDate], [IsActive], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy], [DeletedFlag]) VALUES (2, N'reception', N'238f1cf33d39690fba3c171984fc1120a1181d236723d337e6a2fdc8d92ae88a', N'Rita Sharma', N'reception@patholab.com', N'9876543211', 3, NULL, 1, CAST(N'2026-08-22T10:02:41.2100000' AS DateTime2), N'System', NULL, NULL, 0)
INSERT [dbo].[PTH_Users] ([UserId], [Username], [PasswordHash], [FullName], [Email], [Mobile], [RoleId], [LastLoginDate], [IsActive], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy], [DeletedFlag]) VALUES (3, N'technician', N'7cd5fea080d2a3f7de469cca064541b414698acd4173e0d4823d03351d12a24e', N'Tushar Roy', N'technician@patholab.com', N'9876543212', 4, NULL, 1, CAST(N'2026-08-22T10:02:41.2100000' AS DateTime2), N'System', NULL, NULL, 0)
SET IDENTITY_INSERT [dbo].[PTH_Users] OFF
GO
ALTER TABLE [dbo].[PTH_AuditLogs] ADD  CONSTRAINT [DF_PTH_AuditLogs_CreatedOn]  DEFAULT (getutcdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[PTH_Departments] ADD  CONSTRAINT [DF_PTH_Departments_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[PTH_Departments] ADD  CONSTRAINT [DF_PTH_Departments_CreatedOn]  DEFAULT (getutcdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[PTH_Departments] ADD  CONSTRAINT [DF_PTH_Departments_CreatedBy]  DEFAULT ('System') FOR [CreatedBy]
GO
ALTER TABLE [dbo].[PTH_Departments] ADD  CONSTRAINT [DF_PTH_Departments_DeletedFlag]  DEFAULT ((0)) FOR [DeletedFlag]
GO
ALTER TABLE [dbo].[PTH_Doctors] ADD  CONSTRAINT [DF_PTH_Doctors_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[PTH_Doctors] ADD  CONSTRAINT [DF_PTH_Doctors_CreatedOn]  DEFAULT (getutcdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[PTH_Doctors] ADD  CONSTRAINT [DF_PTH_Doctors_CreatedBy]  DEFAULT ('System') FOR [CreatedBy]
GO
ALTER TABLE [dbo].[PTH_Doctors] ADD  CONSTRAINT [DF_PTH_Doctors_DeletedFlag]  DEFAULT ((0)) FOR [DeletedFlag]
GO
ALTER TABLE [dbo].[PTH_HomeCollections] ADD  CONSTRAINT [DF_PTH_HomeCollections_Status]  DEFAULT ('Requested') FOR [Status]
GO
ALTER TABLE [dbo].[PTH_HomeCollections] ADD  CONSTRAINT [DF_PTH_HomeCollections_DeletedFlag]  DEFAULT ((0)) FOR [DeletedFlag]
GO
ALTER TABLE [dbo].[PTH_Invoices] ADD  CONSTRAINT [DF_PTH_Invoices_DeletedFlag]  DEFAULT ((0)) FOR [DeletedFlag]
GO
ALTER TABLE [dbo].[PTH_Notifications] ADD  CONSTRAINT [DF_PTH_Notifications_Status]  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[PTH_Notifications] ADD  CONSTRAINT [DF_PTH_Notifications_CreatedOn]  DEFAULT (getutcdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[PTH_Notifications] ADD  CONSTRAINT [DF_PTH_Notifications_CreatedBy]  DEFAULT ('System') FOR [CreatedBy]
GO
ALTER TABLE [dbo].[PTH_Notifications] ADD  CONSTRAINT [DF_PTH_Notifications_DeletedFlag]  DEFAULT ((0)) FOR [DeletedFlag]
GO
ALTER TABLE [dbo].[PTH_OrderDetails] ADD  CONSTRAINT [DF_PTH_OrderDetails_CreatedOn]  DEFAULT (getutcdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[PTH_OrderDetails] ADD  CONSTRAINT [DF_PTH_OrderDetails_CreatedBy]  DEFAULT ('System') FOR [CreatedBy]
GO
ALTER TABLE [dbo].[PTH_OrderDetails] ADD  CONSTRAINT [DF_PTH_OrderDetails_DeletedFlag]  DEFAULT ((0)) FOR [DeletedFlag]
GO
ALTER TABLE [dbo].[PTH_Orders] ADD  CONSTRAINT [DF_PTH_Orders_DeletedFlag]  DEFAULT ((0)) FOR [DeletedFlag]
GO
ALTER TABLE [dbo].[PTH_PackageTests] ADD  CONSTRAINT [DF_PTH_PackageTests_CreatedOn]  DEFAULT (getutcdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[PTH_PackageTests] ADD  CONSTRAINT [DF_PTH_PackageTests_CreatedBy]  DEFAULT ('System') FOR [CreatedBy]
GO
ALTER TABLE [dbo].[PTH_PackageTests] ADD  CONSTRAINT [DF_PTH_PackageTests_DeletedFlag]  DEFAULT ((0)) FOR [DeletedFlag]
GO
ALTER TABLE [dbo].[PTH_Patients] ADD  CONSTRAINT [DF_PTH_Patients_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[PTH_Patients] ADD  CONSTRAINT [DF_PTH_Patients_CreatedOn]  DEFAULT (getutcdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[PTH_Patients] ADD  CONSTRAINT [DF_PTH_Patients_CreatedBy]  DEFAULT ('System') FOR [CreatedBy]
GO
ALTER TABLE [dbo].[PTH_Patients] ADD  CONSTRAINT [DF_PTH_Patients_DeletedFlag]  DEFAULT ((0)) FOR [DeletedFlag]
GO
ALTER TABLE [dbo].[PTH_Payments] ADD  CONSTRAINT [DF_PTH_Payments_DeletedFlag]  DEFAULT ((0)) FOR [DeletedFlag]
GO
ALTER TABLE [dbo].[PTH_Permissions] ADD  CONSTRAINT [DF_PTH_Permissions_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[PTH_Permissions] ADD  CONSTRAINT [DF_PTH_Permissions_CreatedOn]  DEFAULT (getutcdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[PTH_Permissions] ADD  CONSTRAINT [DF_PTH_Permissions_CreatedBy]  DEFAULT ('System') FOR [CreatedBy]
GO
ALTER TABLE [dbo].[PTH_Permissions] ADD  CONSTRAINT [DF_PTH_Permissions_DeletedFlag]  DEFAULT ((0)) FOR [DeletedFlag]
GO
ALTER TABLE [dbo].[PTH_ReportDetails] ADD  CONSTRAINT [DF_PTH_ReportDetails_DisplayOrder]  DEFAULT ((0)) FOR [DisplayOrder]
GO
ALTER TABLE [dbo].[PTH_ReportDetails] ADD  CONSTRAINT [DF_PTH_ReportDetails_CreatedOn]  DEFAULT (getutcdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[PTH_ReportDetails] ADD  CONSTRAINT [DF_PTH_ReportDetails_CreatedBy]  DEFAULT ('System') FOR [CreatedBy]
GO
ALTER TABLE [dbo].[PTH_ReportDetails] ADD  CONSTRAINT [DF_PTH_ReportDetails_DeletedFlag]  DEFAULT ((0)) FOR [DeletedFlag]
GO
ALTER TABLE [dbo].[PTH_Reports] ADD  CONSTRAINT [DF_PTH_Reports_DeletedFlag]  DEFAULT ((0)) FOR [DeletedFlag]
GO
ALTER TABLE [dbo].[PTH_RolePermissions] ADD  CONSTRAINT [DF_PTH_RolePermissions_CreatedOn]  DEFAULT (getutcdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[PTH_RolePermissions] ADD  CONSTRAINT [DF_PTH_RolePermissions_CreatedBy]  DEFAULT ('System') FOR [CreatedBy]
GO
ALTER TABLE [dbo].[PTH_RolePermissions] ADD  CONSTRAINT [DF_PTH_RolePermissions_DeletedFlag]  DEFAULT ((0)) FOR [DeletedFlag]
GO
ALTER TABLE [dbo].[PTH_Roles] ADD  CONSTRAINT [DF_PTH_Roles_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[PTH_Roles] ADD  CONSTRAINT [DF_PTH_Roles_CreatedOn]  DEFAULT (getutcdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[PTH_Roles] ADD  CONSTRAINT [DF_PTH_Roles_CreatedBy]  DEFAULT ('System') FOR [CreatedBy]
GO
ALTER TABLE [dbo].[PTH_Roles] ADD  CONSTRAINT [DF_PTH_Roles_DeletedFlag]  DEFAULT ((0)) FOR [DeletedFlag]
GO
ALTER TABLE [dbo].[PTH_Samples] ADD  CONSTRAINT [DF_PTH_Samples_DeletedFlag]  DEFAULT ((0)) FOR [DeletedFlag]
GO
ALTER TABLE [dbo].[PTH_SampleTests] ADD  CONSTRAINT [DF_PTH_SampleTests_CreatedOn]  DEFAULT (getutcdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[PTH_SampleTests] ADD  CONSTRAINT [DF_PTH_SampleTests_CreatedBy]  DEFAULT ('System') FOR [CreatedBy]
GO
ALTER TABLE [dbo].[PTH_SampleTests] ADD  CONSTRAINT [DF_PTH_SampleTests_DeletedFlag]  DEFAULT ((0)) FOR [DeletedFlag]
GO
ALTER TABLE [dbo].[PTH_SampleTypes] ADD  CONSTRAINT [DF_PTH_SampleTypes_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[PTH_SampleTypes] ADD  CONSTRAINT [DF_PTH_SampleTypes_CreatedOn]  DEFAULT (getutcdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[PTH_SampleTypes] ADD  CONSTRAINT [DF_PTH_SampleTypes_CreatedBy]  DEFAULT ('System') FOR [CreatedBy]
GO
ALTER TABLE [dbo].[PTH_SampleTypes] ADD  CONSTRAINT [DF_PTH_SampleTypes_DeletedFlag]  DEFAULT ((0)) FOR [DeletedFlag]
GO
ALTER TABLE [dbo].[PTH_TestPackages] ADD  CONSTRAINT [DF_PTH_TestPackages_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[PTH_TestPackages] ADD  CONSTRAINT [DF_PTH_TestPackages_CreatedOn]  DEFAULT (getutcdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[PTH_TestPackages] ADD  CONSTRAINT [DF_PTH_TestPackages_CreatedBy]  DEFAULT ('System') FOR [CreatedBy]
GO
ALTER TABLE [dbo].[PTH_TestPackages] ADD  CONSTRAINT [DF_PTH_TestPackages_DeletedFlag]  DEFAULT ((0)) FOR [DeletedFlag]
GO
ALTER TABLE [dbo].[PTH_TestParameters] ADD  CONSTRAINT [DF_PTH_TestParameters_CreatedOn]  DEFAULT (getutcdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[PTH_TestParameters] ADD  CONSTRAINT [DF_PTH_TestParameters_CreatedBy]  DEFAULT ('System') FOR [CreatedBy]
GO
ALTER TABLE [dbo].[PTH_TestParameters] ADD  CONSTRAINT [DF_PTH_TestParameters_DeletedFlag]  DEFAULT ((0)) FOR [DeletedFlag]
GO
ALTER TABLE [dbo].[PTH_TestResults] ADD  CONSTRAINT [DF_PTH_TestResults_CreatedOn]  DEFAULT (getutcdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[PTH_TestResults] ADD  CONSTRAINT [DF_PTH_TestResults_CreatedBy]  DEFAULT ('System') FOR [CreatedBy]
GO
ALTER TABLE [dbo].[PTH_TestResults] ADD  CONSTRAINT [DF_PTH_TestResults_DeletedFlag]  DEFAULT ((0)) FOR [DeletedFlag]
GO
ALTER TABLE [dbo].[PTH_Tests] ADD  CONSTRAINT [DF_PTH_Tests_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[PTH_Tests] ADD  CONSTRAINT [DF_PTH_Tests_CreatedOn]  DEFAULT (getutcdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[PTH_Tests] ADD  CONSTRAINT [DF_PTH_Tests_CreatedBy]  DEFAULT ('System') FOR [CreatedBy]
GO
ALTER TABLE [dbo].[PTH_Tests] ADD  CONSTRAINT [DF_PTH_Tests_DeletedFlag]  DEFAULT ((0)) FOR [DeletedFlag]
GO
ALTER TABLE [dbo].[PTH_Users] ADD  CONSTRAINT [DF_PTH_Users_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[PTH_Users] ADD  CONSTRAINT [DF_PTH_Users_CreatedOn]  DEFAULT (getutcdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[PTH_Users] ADD  CONSTRAINT [DF_PTH_Users_CreatedBy]  DEFAULT ('System') FOR [CreatedBy]
GO
ALTER TABLE [dbo].[PTH_Users] ADD  CONSTRAINT [DF_PTH_Users_DeletedFlag]  DEFAULT ((0)) FOR [DeletedFlag]
GO
ALTER TABLE [dbo].[PTH_AuditLogs]  WITH CHECK ADD  CONSTRAINT [FK_PTH_AuditLogs_PTH_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[PTH_Users] ([UserId])
GO
ALTER TABLE [dbo].[PTH_AuditLogs] CHECK CONSTRAINT [FK_PTH_AuditLogs_PTH_Users_UserId]
GO
ALTER TABLE [dbo].[PTH_HomeCollections]  WITH CHECK ADD  CONSTRAINT [FK_PTH_HomeCollections_PTH_Orders_OrderId] FOREIGN KEY([OrderId])
REFERENCES [dbo].[PTH_Orders] ([OrderId])
GO
ALTER TABLE [dbo].[PTH_HomeCollections] CHECK CONSTRAINT [FK_PTH_HomeCollections_PTH_Orders_OrderId]
GO
ALTER TABLE [dbo].[PTH_HomeCollections]  WITH CHECK ADD  CONSTRAINT [FK_PTH_HomeCollections_PTH_Patients_PatientId] FOREIGN KEY([PatientId])
REFERENCES [dbo].[PTH_Patients] ([PatientId])
GO
ALTER TABLE [dbo].[PTH_HomeCollections] CHECK CONSTRAINT [FK_PTH_HomeCollections_PTH_Patients_PatientId]
GO
ALTER TABLE [dbo].[PTH_HomeCollections]  WITH CHECK ADD  CONSTRAINT [FK_PTH_HomeCollections_PTH_Users_AssignedAgentId] FOREIGN KEY([AssignedAgentId])
REFERENCES [dbo].[PTH_Users] ([UserId])
GO
ALTER TABLE [dbo].[PTH_HomeCollections] CHECK CONSTRAINT [FK_PTH_HomeCollections_PTH_Users_AssignedAgentId]
GO
ALTER TABLE [dbo].[PTH_Invoices]  WITH CHECK ADD  CONSTRAINT [FK_PTH_Invoices_PTH_Orders_OrderId] FOREIGN KEY([OrderId])
REFERENCES [dbo].[PTH_Orders] ([OrderId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PTH_Invoices] CHECK CONSTRAINT [FK_PTH_Invoices_PTH_Orders_OrderId]
GO
ALTER TABLE [dbo].[PTH_Invoices]  WITH CHECK ADD  CONSTRAINT [FK_PTH_Invoices_PTH_Patients_PatientId] FOREIGN KEY([PatientId])
REFERENCES [dbo].[PTH_Patients] ([PatientId])
GO
ALTER TABLE [dbo].[PTH_Invoices] CHECK CONSTRAINT [FK_PTH_Invoices_PTH_Patients_PatientId]
GO
ALTER TABLE [dbo].[PTH_Notifications]  WITH CHECK ADD  CONSTRAINT [FK_PTH_Notifications_PTH_Patients_PatientId] FOREIGN KEY([PatientId])
REFERENCES [dbo].[PTH_Patients] ([PatientId])
GO
ALTER TABLE [dbo].[PTH_Notifications] CHECK CONSTRAINT [FK_PTH_Notifications_PTH_Patients_PatientId]
GO
ALTER TABLE [dbo].[PTH_OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_PTH_OrderDetails_PTH_Orders_OrderId] FOREIGN KEY([OrderId])
REFERENCES [dbo].[PTH_Orders] ([OrderId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PTH_OrderDetails] CHECK CONSTRAINT [FK_PTH_OrderDetails_PTH_Orders_OrderId]
GO
ALTER TABLE [dbo].[PTH_OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_PTH_OrderDetails_PTH_TestPackages_PackageId] FOREIGN KEY([PackageId])
REFERENCES [dbo].[PTH_TestPackages] ([PackageId])
GO
ALTER TABLE [dbo].[PTH_OrderDetails] CHECK CONSTRAINT [FK_PTH_OrderDetails_PTH_TestPackages_PackageId]
GO
ALTER TABLE [dbo].[PTH_OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_PTH_OrderDetails_PTH_Tests_TestId] FOREIGN KEY([TestId])
REFERENCES [dbo].[PTH_Tests] ([TestId])
GO
ALTER TABLE [dbo].[PTH_OrderDetails] CHECK CONSTRAINT [FK_PTH_OrderDetails_PTH_Tests_TestId]
GO
ALTER TABLE [dbo].[PTH_Orders]  WITH CHECK ADD  CONSTRAINT [FK_PTH_Orders_PTH_Patients_PatientId] FOREIGN KEY([PatientId])
REFERENCES [dbo].[PTH_Patients] ([PatientId])
GO
ALTER TABLE [dbo].[PTH_Orders] CHECK CONSTRAINT [FK_PTH_Orders_PTH_Patients_PatientId]
GO
ALTER TABLE [dbo].[PTH_PackageTests]  WITH CHECK ADD  CONSTRAINT [FK_PTH_PackageTests_PTH_TestPackages_PackageId] FOREIGN KEY([PackageId])
REFERENCES [dbo].[PTH_TestPackages] ([PackageId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PTH_PackageTests] CHECK CONSTRAINT [FK_PTH_PackageTests_PTH_TestPackages_PackageId]
GO
ALTER TABLE [dbo].[PTH_PackageTests]  WITH CHECK ADD  CONSTRAINT [FK_PTH_PackageTests_PTH_Tests_TestId] FOREIGN KEY([TestId])
REFERENCES [dbo].[PTH_Tests] ([TestId])
GO
ALTER TABLE [dbo].[PTH_PackageTests] CHECK CONSTRAINT [FK_PTH_PackageTests_PTH_Tests_TestId]
GO
ALTER TABLE [dbo].[PTH_Payments]  WITH CHECK ADD  CONSTRAINT [FK_PTH_Payments_PTH_Invoices_InvoiceId] FOREIGN KEY([InvoiceId])
REFERENCES [dbo].[PTH_Invoices] ([InvoiceId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PTH_Payments] CHECK CONSTRAINT [FK_PTH_Payments_PTH_Invoices_InvoiceId]
GO
ALTER TABLE [dbo].[PTH_ReportDetails]  WITH CHECK ADD  CONSTRAINT [FK_PTH_ReportDetails_PTH_Reports_ReportId] FOREIGN KEY([ReportId])
REFERENCES [dbo].[PTH_Reports] ([ReportId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PTH_ReportDetails] CHECK CONSTRAINT [FK_PTH_ReportDetails_PTH_Reports_ReportId]
GO
ALTER TABLE [dbo].[PTH_ReportDetails]  WITH CHECK ADD  CONSTRAINT [FK_PTH_ReportDetails_PTH_Tests_TestId] FOREIGN KEY([TestId])
REFERENCES [dbo].[PTH_Tests] ([TestId])
GO
ALTER TABLE [dbo].[PTH_ReportDetails] CHECK CONSTRAINT [FK_PTH_ReportDetails_PTH_Tests_TestId]
GO
ALTER TABLE [dbo].[PTH_Reports]  WITH CHECK ADD  CONSTRAINT [FK_PTH_Reports_PTH_Orders_OrderId] FOREIGN KEY([OrderId])
REFERENCES [dbo].[PTH_Orders] ([OrderId])
GO
ALTER TABLE [dbo].[PTH_Reports] CHECK CONSTRAINT [FK_PTH_Reports_PTH_Orders_OrderId]
GO
ALTER TABLE [dbo].[PTH_Reports]  WITH CHECK ADD  CONSTRAINT [FK_Reports_PTH_Patients_PatientId] FOREIGN KEY([PatientId])
REFERENCES [dbo].[PTH_Patients] ([PatientId])
GO
ALTER TABLE [dbo].[PTH_Reports] CHECK CONSTRAINT [FK_Reports_PTH_Patients_PatientId]
GO
ALTER TABLE [dbo].[PTH_Reports]  WITH CHECK ADD  CONSTRAINT [FK_Reports_PTH_Users_VerifiedById] FOREIGN KEY([VerifiedById])
REFERENCES [dbo].[PTH_Users] ([UserId])
GO
ALTER TABLE [dbo].[PTH_Reports] CHECK CONSTRAINT [FK_Reports_PTH_Users_VerifiedById]
GO
ALTER TABLE [dbo].[PTH_RolePermissions]  WITH CHECK ADD  CONSTRAINT [FK_PTH_RolePermissions_PTH_Permissions_PermissionId] FOREIGN KEY([PermissionId])
REFERENCES [dbo].[PTH_Permissions] ([PermissionId])
GO
ALTER TABLE [dbo].[PTH_RolePermissions] CHECK CONSTRAINT [FK_PTH_RolePermissions_PTH_Permissions_PermissionId]
GO
ALTER TABLE [dbo].[PTH_RolePermissions]  WITH CHECK ADD  CONSTRAINT [FK_PTH_RolePermissions_PTH_Roles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[PTH_Roles] ([RoleId])
GO
ALTER TABLE [dbo].[PTH_RolePermissions] CHECK CONSTRAINT [FK_PTH_RolePermissions_PTH_Roles_RoleId]
GO
ALTER TABLE [dbo].[PTH_Samples]  WITH CHECK ADD  CONSTRAINT [FK_PTH_Samples_PTH_Orders_OrderId] FOREIGN KEY([OrderId])
REFERENCES [dbo].[PTH_Orders] ([OrderId])
GO
ALTER TABLE [dbo].[PTH_Samples] CHECK CONSTRAINT [FK_PTH_Samples_PTH_Orders_OrderId]
GO
ALTER TABLE [dbo].[PTH_Samples]  WITH CHECK ADD  CONSTRAINT [FK_PTH_Samples_PTH_Patients_PatientId] FOREIGN KEY([PatientId])
REFERENCES [dbo].[PTH_Patients] ([PatientId])
GO
ALTER TABLE [dbo].[PTH_Samples] CHECK CONSTRAINT [FK_PTH_Samples_PTH_Patients_PatientId]
GO
ALTER TABLE [dbo].[PTH_Samples]  WITH CHECK ADD  CONSTRAINT [FK_PTH_Samples_PTH_SampleTypes_SampleTypeId] FOREIGN KEY([SampleTypeId])
REFERENCES [dbo].[PTH_SampleTypes] ([SampleTypeId])
GO
ALTER TABLE [dbo].[PTH_Samples] CHECK CONSTRAINT [FK_PTH_Samples_PTH_SampleTypes_SampleTypeId]
GO
ALTER TABLE [dbo].[PTH_Samples]  WITH CHECK ADD  CONSTRAINT [FK_PTH_Samples_PTH_Users_CollectedById] FOREIGN KEY([CollectedById])
REFERENCES [dbo].[PTH_Users] ([UserId])
GO
ALTER TABLE [dbo].[PTH_Samples] CHECK CONSTRAINT [FK_PTH_Samples_PTH_Users_CollectedById]
GO
ALTER TABLE [dbo].[PTH_Samples]  WITH CHECK ADD  CONSTRAINT [FK_PTH_Samples_PTH_Users_ReceivedById] FOREIGN KEY([ReceivedById])
REFERENCES [dbo].[PTH_Users] ([UserId])
GO
ALTER TABLE [dbo].[PTH_Samples] CHECK CONSTRAINT [FK_PTH_Samples_PTH_Users_ReceivedById]
GO
ALTER TABLE [dbo].[PTH_SampleTests]  WITH CHECK ADD  CONSTRAINT [FK_PTH_SampleTests_PTH_OrderDetails_OrderDetailId] FOREIGN KEY([OrderDetailId])
REFERENCES [dbo].[PTH_OrderDetails] ([OrderDetailId])
GO
ALTER TABLE [dbo].[PTH_SampleTests] CHECK CONSTRAINT [FK_PTH_SampleTests_PTH_OrderDetails_OrderDetailId]
GO
ALTER TABLE [dbo].[PTH_SampleTests]  WITH CHECK ADD  CONSTRAINT [FK_PTH_SampleTests_PTH_Samples_SampleId] FOREIGN KEY([SampleId])
REFERENCES [dbo].[PTH_Samples] ([SampleId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PTH_SampleTests] CHECK CONSTRAINT [FK_PTH_SampleTests_PTH_Samples_SampleId]
GO
ALTER TABLE [dbo].[PTH_SampleTests]  WITH CHECK ADD  CONSTRAINT [FK_PTH_SampleTests_PTH_Tests_TestId] FOREIGN KEY([TestId])
REFERENCES [dbo].[PTH_Tests] ([TestId])
GO
ALTER TABLE [dbo].[PTH_SampleTests] CHECK CONSTRAINT [FK_PTH_SampleTests_PTH_Tests_TestId]
GO
ALTER TABLE [dbo].[PTH_SampleTests]  WITH CHECK ADD  CONSTRAINT [FK_PTH_SampleTests_PTH_Users_AssignedToId] FOREIGN KEY([AssignedToId])
REFERENCES [dbo].[PTH_Users] ([UserId])
GO
ALTER TABLE [dbo].[PTH_SampleTests] CHECK CONSTRAINT [FK_PTH_SampleTests_PTH_Users_AssignedToId]
GO
ALTER TABLE [dbo].[PTH_TestParameters]  WITH CHECK ADD  CONSTRAINT [FK_PTH_TestParameters_PTH_Tests_TestId] FOREIGN KEY([TestId])
REFERENCES [dbo].[PTH_Tests] ([TestId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PTH_TestParameters] CHECK CONSTRAINT [FK_PTH_TestParameters_PTH_Tests_TestId]
GO
ALTER TABLE [dbo].[PTH_TestResultHistory]  WITH CHECK ADD  CONSTRAINT [FK_PTH_TestResultHistory_PTH_TestResults_TestResultId] FOREIGN KEY([TestResultId])
REFERENCES [dbo].[PTH_TestResults] ([TestResultId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PTH_TestResultHistory] CHECK CONSTRAINT [FK_PTH_TestResultHistory_PTH_TestResults_TestResultId]
GO
ALTER TABLE [dbo].[PTH_TestResultHistory]  WITH CHECK ADD  CONSTRAINT [FK_PTH_TestResultHistory_PTH_Users_ChangedById] FOREIGN KEY([ChangedById])
REFERENCES [dbo].[PTH_Users] ([UserId])
GO
ALTER TABLE [dbo].[PTH_TestResultHistory] CHECK CONSTRAINT [FK_PTH_TestResultHistory_PTH_Users_ChangedById]
GO
ALTER TABLE [dbo].[PTH_TestResults]  WITH CHECK ADD  CONSTRAINT [FK_PTH_TestResults_PTH_SampleTests_SampleTestId] FOREIGN KEY([SampleTestId])
REFERENCES [dbo].[PTH_SampleTests] ([SampleTestId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PTH_TestResults] CHECK CONSTRAINT [FK_PTH_TestResults_PTH_SampleTests_SampleTestId]
GO
ALTER TABLE [dbo].[PTH_TestResults]  WITH CHECK ADD  CONSTRAINT [FK_PTH_TestResults_PTH_TestParameters_TestParameterId] FOREIGN KEY([TestParameterId])
REFERENCES [dbo].[PTH_TestParameters] ([TestParameterId])
GO
ALTER TABLE [dbo].[PTH_TestResults] CHECK CONSTRAINT [FK_PTH_TestResults_PTH_TestParameters_TestParameterId]
GO
ALTER TABLE [dbo].[PTH_TestResults]  WITH CHECK ADD  CONSTRAINT [FK_PTH_TestResults_PTH_Users_EnteredById] FOREIGN KEY([EnteredById])
REFERENCES [dbo].[PTH_Users] ([UserId])
GO
ALTER TABLE [dbo].[PTH_TestResults] CHECK CONSTRAINT [FK_PTH_TestResults_PTH_Users_EnteredById]
GO
ALTER TABLE [dbo].[PTH_TestResults]  WITH CHECK ADD  CONSTRAINT [FK_PTH_TestResults_PTH_Users_VerifiedById] FOREIGN KEY([VerifiedById])
REFERENCES [dbo].[PTH_Users] ([UserId])
GO
ALTER TABLE [dbo].[PTH_TestResults] CHECK CONSTRAINT [FK_PTH_TestResults_PTH_Users_VerifiedById]
GO
ALTER TABLE [dbo].[PTH_Tests]  WITH CHECK ADD  CONSTRAINT [FK_PTH_Tests_PTH_Departments_DepartmentId] FOREIGN KEY([DepartmentId])
REFERENCES [dbo].[PTH_Departments] ([DepartmentId])
GO
ALTER TABLE [dbo].[PTH_Tests] CHECK CONSTRAINT [FK_PTH_Tests_PTH_Departments_DepartmentId]
GO
ALTER TABLE [dbo].[PTH_Tests]  WITH CHECK ADD  CONSTRAINT [FK_PTH_Tests_PTH_SampleTypes_SampleTypeId] FOREIGN KEY([SampleTypeId])
REFERENCES [dbo].[PTH_SampleTypes] ([SampleTypeId])
GO
ALTER TABLE [dbo].[PTH_Tests] CHECK CONSTRAINT [FK_PTH_Tests_PTH_SampleTypes_SampleTypeId]
GO
ALTER TABLE [dbo].[PTH_Users]  WITH CHECK ADD  CONSTRAINT [FK_PTH_Users_PTH_Roles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[PTH_Roles] ([RoleId])
GO
ALTER TABLE [dbo].[PTH_Users] CHECK CONSTRAINT [FK_PTH_Users_PTH_Roles_RoleId]
GO
